.idea/*.xml
.idea/markdown-navigator
.idea/copyright/*.xml
.idea/dictionaries/*.xml
.idea/libraries
.idea/sonarlint
target/
*.iml
.ceylon
.vertx/
modules/
delombok/
*_pid*.log
/*.java
/src/main/java/*.java
/test.sh
